<main>
  <div class="user-info">
    <h2>User info</h2>
    <table class="table">
      <tbody>
        <%= attachment_image_tag user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg", size: '80x80' %>
        <tr>
          <td><strong>name</strong></td>
          <td><strong><%= user.name %></strong></td>
        </tr>
      </tbody>
    </table>
    <%= link_to "", edit_user_path(user.id), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
    
    <div class="new-post">
      <h2>投稿フォーム</h2>
      <%= form_with model: post, local:true do |f| %>
        <div class="field">
          <%= f.label :title %><br />
          <%= f.text_field :title %>
        </div>
        
        <div class="field">
          <%= f.label :body %><br />
          <%= f.text_area :body %>
        </div>
        
        <div class="actions">
        <%= f.submit "嘆く", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</main>